<section class="sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h3>Contact</h3>
                <p>Contact us right now!</p>
                <form action="">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <i class="fas fa-user input-group-text"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <i class="fas fa-at input-group-text"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <i class="fas fa-pen-alt input-group-text"></i>
                        </div>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Write your message here"
                            class="form-control"></textarea>
                    </div>
                    <button class="btn btn-danger btn-lg btn-block">
                        Send your message
                    </button>
                </form>
            </div>
            <div class="col-lg-3 align-self-center">
                <img src="./assets/images/marvel.png" alt="Imagen logo">
            </div>
        </div>
    </div>
</section>